.red{
    background-color: crimson;
    color:white;
    border:2px solid black;
}
.logo{
    border: solid black;
    border-radius: 25%;
}

.header{
    border-bottom: 3px solid black;
    margin-bottom: 5%;
}
.footer{
    position: absolute; 
    left: 0 ; right: 0; bottom: 0;
    height:[footer-height]; 
    color:white;
    margin-top: 5%;
    border-top: 3px solid black;
}
.iconeMenu{padding: 1%;}
.ajoutProd{padding:15px;}
.tousProd{padding:15px;}
.detailProd{padding:15px;}
.ajoutUser{padding:15px;}
.modifUser{padding:15px;}
.tousUser{padding:15px;}
.userDetail{padding: 15px;}
.detailPanier{padding: 15px;}
html { height: 100%; }
body {
    min-height:100%; 
    position:relative;
    background-color: lightgray;
    padding-bottom:[footer-height];
}
.test{
    margin-bottom: 5%;
}
.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    }